


<% @hotels.each do |h| %>
<%= link_to h["hotel"][0]["hotelBasicInfo"]["hotelName"], rakuten_show_path(@hotel) %>

<h3> <%= h["hotel"][0]["hotelBasicInfo"]["hotelMinCharge"] %> yen</h3>
<%= image_tag h["hotel"][0]["hotelBasicInfo"]["hotelThumbnailUrl"] %>
<br>
<% end %>


